type vbmeta_block_device, dev_type;
type splashscreen_block_device, dev_type;
type bootloaders_block_device, dev_type;
type persist_block_device, dev_type;
