allow init functionfs:dir { mounton };
allow init misc_block_device:blk_file { write };
allow init vbmeta_block_device:lnk_file { relabelto };
allow init mnt_vendor_file:dir mounton;
allow init nativetest_data_file:dir { getattr read open search };
allow init nativetest_data_file:file { getattr };
allow init sysfs_devices_mmc:file { open write };
