on init
   start watchdogd
   insmod /vendor/lib/modules/mediatek-drm.ko
   insmod /vendor/lib/modules/mediatek-drm-hdmi.ko

on fs
    start console

on post-fs-data
    setprop vold.post_fs_data_done 1

service watchdogd /sbin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
