on init
   start watchdogd

on fs
    mount_all /vendor/etc/fstab.${ro.hardware} --early
    swapon_all /vendor/etc/fstab.${ro.hardware}

on late-fs && property:ro.vendor.keymaster.optee=disabled
    mount_all /vendor/etc/fstab.${ro.hardware} --late

on post-fs-data
    setprop vold.post_fs_data_done 1

service watchdogd /sbin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
