on init
   start watchdogd
   insmod /vendor/lib/modules/mediatek-drm.ko
   insmod /vendor/lib/modules/snd-soc-hdmi-codec.ko
   insmod /vendor/lib/modules/mediatek-drm-hdmi.ko
   insmod /vendor/lib/modules/ntc_thermistor.ko

on fs
    mount_all /vendor/etc/fstab.${ro.hardware}
    swapon_all /vendor/etc/fstab.${ro.hardware}

on post-fs-data
    setprop vold.post_fs_data_done 1

service watchdogd /sbin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0
