on init
   start watchdogd

on fs
    mount_all /vendor/etc/fstab.mt8167
    start console

on post-fs-data
    setprop vold.post_fs_data_done 1

service watchdogd /sbin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0

on early-init
    insmod /vendor/lib/modules/panel-rpi-pumpkin-touchscreen.ko
