on late-fs
    # Wait for hwservicemanager ready since fsck might be triggered in mount_all --late
    # In such case, init won't responce the property_set from hwservicemanager and then
    # cause services for bootanim not running.
    wait_for_prop hwservicemanager.ready true

on early-init
    exec u:r:vendor_modprobe:s0 -- \
         /vendor/bin/modprobe -d /vendor/lib/modules --all=/vendor/lib/modules/modules.load

on init
    # Force performance governor
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor performance
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor performance
