on late-fs
    # Wait for hwservicemanager ready since fsck might be triggered in mount_all --late
    # In such case, init won't responce the property_set from hwservicemanager and then
    # cause services for bootanim not running.
    wait_for_prop hwservicemanager.ready true

on init
    # configure cpuset for our CPUs:
    # 0-3 are our little cores (a53)
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3

    # 4-7 are our big cores (a73) 
    write /dev/cpuset/foreground/cpus 4-7
    write /dev/cpuset/top-app/cpus 4-7
    write /dev/cpuset/top-app/cpus 4-7
