type vpud, domain;

type vpud_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(vpud)

allow vpud vpu_device:chr_file    rw_file_perms;
allow vpud sysfs_dt_base:file     r_file_perms;

type vpud_prop, property_type;

get_prop(vpud, vpud_prop)