on late-fs
    # Wait for hwservicemanager ready since fsck might be triggered in mount_all --late
    # In such case, init won't responce the property_set from hwservicemanager and then
    # cause services for bootanim not running.
    wait_for_prop hwservicemanager.ready true

on early-init
    exec u:r:vendor_modprobe:s0 -- \
         /vendor/bin/modprobe -d /vendor/lib/modules --all=/vendor/lib/modules/modules.load

on init
    # configure cpuset for our CPUs:
    # 0-3 are our little cores (a53)
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-3
